<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'page_dacceuil'|trans}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="stylesheet" href="{{ asset('css/product_modify.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        // Gestionnaire d'événements pour la suppression d'image
            const deleteButtons = document.querySelectorAll('.delete-image');
            
            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const imageId = button.getAttribute('data-image-id');
                    console.log(imageId);
                    // Envoyer une requête AJAX pour supprimer l'image
                    fetch(`/product/delete-image/${imageId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Supprimer l'image du DOM si la suppression a réussi
                            button.closest('.image-container').remove();
                        } else {
                            alert('Erreur lors de la suppression de l\'image');
                        }
                    })
                    .catch(error => {
                        console.error('Erreur:', error);
                    });
                });
            });
        });
    </script>
</head>
{% block body %}
<div data-controller="cart">
        {% include 'header/header.html.twig' %}
    <h1 class="page-title">Modifier le Produit : {{ product.name }}</h1>

    <div class="form-container">
        {{ component('AddImgInputProd', {
            form: form,
            product : product
        }) }}
    </div>
{% endblock %}

