<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'page_dacceuil'|trans}}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('css/header.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
</head>
<body>
    <div data-controller="cart">
        {% include 'header/header.html.twig' %}

        {#<div class='category_filter'>
            <label for="category-select">{{ 'Filtrer_par'|trans }}</label>

            <select name="category" id="category-select">
                <option value="">{{ 'Categorie'|trans }}</option>
                {% for category in categories %}
                    <option value=category>{{ ( 'product_categorie.' ~ category.name)|trans }}</option>
                {% else %}
                    <option value='no category'>{{ 'Aucune_categories_disponible'|trans }}</option>
                {% endfor %}
            </select>
        </div>#}

        <div class="products" data-search-target="products">
            {% for product in pagination.items %}
            <a href="{{ path('app_product', { 'id': product.id })}}">
                <div class="product" >
                    <h2>{{ ('product_name.' ~ product.name)|trans }}</h2>
                    <p class="price">{{ product.price }} €</p>
                    <p class="description">{{ ( 'product_description.' ~ product.description)|trans }}</p>
                    <p>{{ ('product_status.' ~ product.status.value)|trans }}</p>



                    <div class="image-slider"  data-controller="img-prod-slider" data-product-id="{{ product.id }}">
                        <button class="prev" {% if product.images|length <= 1 %}style="display:none" {% endif %} data-action="mouseenter->img-prod-slider#moveSlide" data-direction="-1">&#10094;</button>
                        <div class="slider-images" data-img-prod-slider-target="images">
                            {% if product.images|length > 1 %}
                                {% for img in product.images %}
                                    <img src="{{ img.url }}" alt="Image de {{ product.name }}" {% if loop.first %}class="active"{% endif %} />
                                {% endfor %}
                            {% else %}
                                <img src="{{ product.images[0].url }}" alt="Image de {{ product.name }}" class="active" />
                            {% endif %}
                        </div>
                        <button class="next" {% if product.images|length <= 1 %}style="display:none" {% endif %} data-action="mouseenter->img-prod-slider#moveSlide" data-direction="1">&#10095;</button>
                    </div>


                    {% if product.category|length == 0 %}
                        <p>{{ 'aucune_categorie_disponible'|trans}}</p>
                    {% elseif product.category|length == 1 %}
                        <p class="category">{{ ( product.category[0].name)|trans }}</p>
                    {% else %}
                        <p class="category">
                        {% for categorie in product.category %}
                            {{ ( 'product_categorie.' ~ category.name)|trans }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </a>
            {% else %}
                <p>{{ 'aucun_produit_disponible'|trans}}</p>
            {% endfor %}
        </div>

        <div class="products" data-search-target="productList">
        </div>

        <div class="navigation" data-search-target="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</body>
</html>
